/* --- Variables globales --- */
font_family = var(--font-family);
background_color = var(--background-color);
primary_color = var(--primary-color);
text_color = var(--text-color);
secondary_color = var(--secondary-color);
third_color = var(--third-color); 

/* --- Variables Internas --- */
_bold = 700;
_semibold = 600;
_medium = 500;
_regular = 400;
_light = 300; 

/* --- Funciones internas --- */
custom_font(size = 1, weight = normal, font_color, font_family) {
    font-family: font_family;
    font-size: unit(size, rem);
    font-weight: weight;
    color: font_color;
}

/* ---  Tipografias --- */
H1(_color = var(--text-color), _weight = _bold, _font_family = var(--font-family)) {
    custom_font(3.2, _weight, _color, _font_family);
}

H2(_color = var(--text-color), _weight = _semibold, _font_family = var(--font-family)) {
    custom_font(2, _weight, _color, _font_family);
}

H3(_color = var(--text-color), _weight = _semibold, _font_family = var(--font-family)) {
    custom_font(1.6, _weight, _color, _font_family);
}

Extract(_color = var(--text-color), _weight = _regular, _font_family = var(--font-family)) {
    custom_font(1.4, _weight, _color, _font_family);
}

Regular_P(_color = var(--text-color), _weight = _regular, _font_family = var(--font-family)) {
    custom_font(1.3, _weight, _color, _font_family);
}

Small_P(_color = var(--text-color), _weight = _regular, _font_family = var(--font-family)) {
    custom_font(1.2, _weight, _color, _font_family);
}

Dates(_color = var(--text-color), _weight = _light, _font_family = var(--font-family)) {
    custom_font(1.2, _weight, _color, _font_family);
}

Extra_Small(_color = var(--text-color), _weight = _regular, _font_family = var(--font-family)) {
    custom_font(1, _weight, _color, _font_family);
}

/* Funciones de ayuda :D */
Dots(dot_size = 10px, margin_space = 10px, container_height = 20px, dot_color = primary_color) {
    &:not(:last-child) {
        margin-right: margin_space;

        &:after {
            position: absolute;
            content: '';
            display: inline-block;
            width: dot_size;
            height: dot_size;
            background-color: dot_color;
            border-radius: 50%;
            margin: (container_height / 2) - (dot_size / 2) 0px 0px (margin_space / 2) - (dot_size / 2);
        }
    }
}

Arrow(size = 12px) {
    svg {
        position: absolute;
        height: size;
        width: fit-content;
        transform: rotate(45deg);
        margin-left: 4px;
        transition: transform 200ms ease-out;
        margin-top: (size / 2);
    }

    &:hover {
        svg {
            transform: translate(2px, -3px) rotate(45deg);
            transition: transform 200ms ease-out;
        }
    }
}

No_Image(width_size = 10px, height_size = width_size) {
    width: width_size;
    height: height_size;
    background: var(--image-place-holder-gr);
}

Down_Arrow(size = 10px) {
    svg {
        content: '';
        margin-top: 3px;
        transform: rotate(180deg);
        position: absolute;
        margin-left: 7px;
        display: inline-block;
        height: size;
        width: fit-content;
    }

    &:hover {
        svg {
            transform: translateY(2px) rotate(180deg);
            transition: all 200ms ease-in;
        }
    }
}

Image_Background(_cover = false) {
    background-position: center;

    if (_cover) {
        background-size: cover;
    } else {
        background-size: contain;
    }
}