@import '../helpers/Variables.styl';

footer {
    @media (max-width: 862px) {
        div:not(:has(.app-info)) { /* Esto funcionar%C3%A1 solo si el `div` es hijo de un contenedor flex */
            display: none;
        }

        span {
            order: 1 !important;
            text-align: left !important;
        }

        div.app-info {
            display: block !important;
            order: 3 !important;
        }
    }

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 15px;
    box-sizing: border-box;

    > * {
        flex: 1;
        Extra_Small(secondary_color);
    }

    span {
        text-align: center;
    }

    div.app-info {
        text-align: right;

        a {
            color: secondary_color;
            margin-left: 20px;
        }
    }
}
