@import './helpers/Variables.styl';

body {
  cursor: default;
  background-color: var(--background-color);

  &, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }

  div#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
