@import './helpers/Variables.styl';

body {
  cursor: default;
  background-color: var(--background-color);

  &, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }

  div#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding-bottom: 40px;

    p.empty-alert {
      text-align: center;
      Regular_P(secondary_color);
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}