// Importación de Inter font desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html, html.mist {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --font-family: 'Jost', sans-serif, Calibri, system-ui;
    --background-color: #2E2E2E;
    --primary-color: #F5F5F5;
    --text-color: #E7E7E7;
    --secondary-color: #9F9F9F;
    --third-color: #868686;
    --image-place-holder-bg: #f3f2f2;
    --image-place-holder-gr: linear-gradient(180deg, rgba(243, 242, 242, 1) 0%, rgba(141, 141, 141, 1) 100%);
}

html.debug {
    * {
        outline: 1px dashed rgba(0, 255, 42, 0.379) !important;
    }

    --font-family: monospace, monospace;
    --background-color: black;
    --primary-color: #eb6eff;
    --text-color: yellow;
    --secondary-color: red;
    --third-color: rgb(238, 16, 157);
    --image-place-holder-gr: rgb(0, 204, 255);
}

html.zebra {
    --background-color: #f0f0f0;
    --primary-color: #232323;
    --text-color: #333333;
    --secondary-color: #545454;
    --third-color: #555555;
    --image-place-holder-bg: #E0E0E0;
    --image-place-holder-gr: linear-gradient(180deg, rgba(224, 224, 224, 1) 0%, rgba(141, 141, 141, 1) 100%);
}

html.alba_sky {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --font-family: 'Jost', sans-serif, Calibri, system-ui;
    --background-color: #f5eded;
    --primary-color: #6482ad;
    --text-color: #626383;
    --secondary-color: #7198c0;
    --third-color: #5380ac;
    --image-place-holder-bg: #f3f2f2;
    --image-place-holder-gr: linear-gradient(180deg, #c3e1ff 0%, #93c5ff 100%);
}

html.warm_ash {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --font-family: 'Jost', sans-serif, Calibri, system-ui;
    --background-color: #373A40;
    --primary-color: #DC5F00;
    --text-color: #EEEEEE;
    --secondary-color: #7b7986;
    --third-color: #7b818c;
    --image-place-holder-bg: #f3f2f2;
    --image-place-holder-gr: linear-gradient(180deg, #6f6f6f 0%, #515151 100%);
}

html.crimson_nocturne {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --font-family: 'Jost', sans-serif, Calibri, system-ui;
    --background-color: #151515;
    --primary-color: #C73659;
    --text-color: #eee;
    --secondary-color: #A91D3A;
    --third-color: #6e2d2d;
    --image-place-holder-bg: #f3f2f2;
    --image-place-holder-gr: linear-gradient(180deg, #6f6f6f 0%, #515151 100%);
}

html.emerald_oasis {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --font-family: 'Jost', sans-serif, Calibri, system-ui;
    --background-color: #E7FBE6;
    --primary-color: #c8941c;
    --text-color: #a46736;
    --secondary-color: #148763;
    --third-color: #4a890e;
    --image-place-holder-bg: #a77355;
    --image-place-holder-gr: linear-gradient(180deg, #7fedbe 0%, #7dc898 100%);
}