@import '../helpers/Variables.styl';

div.certificates {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    div.cert-card {
        border: 1px third_color solid;
        width: 400px;
        padding: 15px 15px;

        div.main {
            margin-bottom: 25px;
            display: flex;
            gap: 10px;
            align-items: center;

            div.badge {
                flex-shrink: 0;
                flex-grow: 0
                No_Image(54px);
                Image_Background();
            }

            h3 {
                margin: 0;

                a {
                    text-decoration: none;
                    H3(primary_color);
                    Arrow();
                }
            }
        }

        div.foot {
            display: flex;
            justify-content: space-between;
            Extra_Small(secondary_color);
            width: 100%;

            div {
                span {
                    Dots(4px, 12px, 14.4px, secondary_color);
                }
            }
        }
    }
}