@import '../helpers/Variables.styl';

div.certificates {
    @media (max-width: 600px) {
        div.cert-card {
            width: 100% !important;

            div.main {
                flex-direction: column;
                margin-bottom: 5px !important;

                h3 {
                    text-align: center;
                }
            }

            div.foot {
                justify-content: center !important;

                &>div {
                    &:first-child {
                        display: none;
                    }
                }

                div {
                    &.issuer {
                        span {
                            Dots(4px, 12px, 14.4px, secondary_color);
                            display: inline !important;
                            width: 100%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    div.cert-card {
        border: 1px third_color solid;
        width: 400px;
        padding: 15px 15px;

        div.main {
            margin-bottom: 25px;
            display: flex;
            gap: 10px;
            align-items: center;

            div.badge {
                flex-shrink: 0;
                flex-grow: 0;
                No_Image(54px);
                Image_Background();
            }

            h3 {
                margin: 0;

                a {
                    text-decoration: none;
                    H3(primary_color);
                    Arrow();
                }

                &.only {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        div.foot {
            display: flex;
            justify-content: space-between;
            Extra_Small(secondary_color);
            width: 100%;

            div {
                &.issuer {
                    span {
                        display: block;
                        width: 100%;
                        text-align: right;
                    }
                }

                &.skills {
                    span {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}