@import '../helpers/Variables.styl';

div.head {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    div.user-image {
        No_Image(13.6rem);
        Image_Background();
        border-radius: 50%;
        display: inline-block;
    }

    div.head-content {
        h1 {
            H1(primary_color);
        }

        h2 {
            margin: -11px 0px 7px;
            H2(primary_color);
        }

        div.extra-info {
            span {
                Extract(primary_color);
                Dots(5px, 20px, 20.8px);
            }
        }
    }
}