@import '../helpers/Variables.styl';

div.head {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    @media (max-width: 700px) {
        flex-direction: column;
        text-align: center;
    }

    div.user-image {
        flex-shrink: 0;
        No_Image(13.6rem);
        Image_Background();
        border-radius: 50%;
        display: inline-block;
    }

    div.head-content {
        &.only {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        flex-grow: 0;

        h1 {
            H1(primary_color);
            line-height: 4rem;
        }

        h2 {
            margin: -5px 0px 7px;
            H2(primary_color);
        }

        div.extra-info {
            span {
                Extract(secondary_color);
                Dots(5px, 20px, 20.8px, secondary_color);
            }
        }
    }
}