:root {
    --bg-color: rgb(23, 23, 23);
    --font-color: rgb(212, 212, 212);
    --pink-brighness: rgb(255, 178, 255);
    --blue-brighness: rgb(204, 178, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    cursor: default;
    color: var(--font-color);
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(140, 140, 140);
    border-radius: 20px;
    border: solid 1px white;
}